<header class="navbar navbar-expand-lg navbar-dark fixed-top nga-navbar">
  <nav class="container" aria-label="Main navigation">
    <a routerLink="/" class="navbar-brand" [attr.alt]="'Home - ' + appInfo.name">
      <img
        [src]="'images/' + appInfo.logo + '.png'"
        [srcset]="'images/' + appInfo.logo + '.png, images/' + appInfo.logo + '@2x.png 2x'"
        width="45"
        height="45"
        [alt]="appInfo.name + ' Logo'"
      />
      <span class="nga-logo mx-1" [attr.aria-label]="applicationName">{{ applicationName }}</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" routerLinkActive="active-link">Accueil</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active-link">Administration</a>
        </li>
      </ul>
      <form class="d-flex align-items-end align-items-center">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="isConnected">
            <a
              href="javascript:void(0);"
              class="nav-link"
              [innerHTML]="isConnected ? 'Connecté en tant que<br />' + username : 'Non connecté'"
            ></a>
          </li>
        </ul>
        <button (click)="onLogout()" class="btn btn-sm nga-btn-navbar">
          <svg
            class="me-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
            ></path>
          </svg>
          Déconnexion
        </button>
      </form>
      <!-- <form class="d-flex">
        <button type="button" class="btn btn-sm nga-btn-navbar me-2" routerLink="/signup">
          <i class="fas fa-user-plus me-2"></i>S'inscrire
        </button>
        <button type="button" class="btn btn-sm btn-outline-light me-2" routerLink="/login">
          <i class="fas fa-sign-in-alt me-2"></i>Se connecter
        </button>
      </form>-->
    </div>
  </nav>
</header>
