<form [formGroup]="form">
  <div class="flex-auto flex row">
    <h2 class="text-uppercase">1 - DESCRIPTION DU POSTE OCCUPE PAR L'AGENT</h2>

    <div class="card">
      <div class="card-body">
        <div class="card-text">
          <div class="row">
            <div class="mb-3 row">
              <label for="" class="col-sm-2 col-form-label">structure :</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id=""
                  formControlName="structure"
                  [class.is-invalid]="
                    registerFormControl['structure'].invalid &&
                    (registerFormControl['structure'].touched ||
                      registerFormControl['structure'].dirty)
                  "
                />

                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerFormControl['structure'].invalid &&
                    registerFormControl['structure'].touched
                  "
                >
                  <ng-container *ngIf="registerFormControl['structure']?.errors?.['required']">
                    La structure est requise
                  </ng-container>
                  <ng-container *ngIf="registerFormControl['structure']?.errors?.['minlength']">
                    Minimum 2 charactères
                  </ng-container>
                  <ng-container *ngIf="registerFormControl['structure']?.errors?.['maxlength']">
                    Maximum de charactères atteint
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 row">
              <label for="" class="col-sm-2 col-form-label">intitulé du poste :</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id=""
                  formControlName="intitulePoste"
                  [class.is-invalid]="
                    registerFormControl['intitulePoste'].invalid &&
                    (registerFormControl['intitulePoste'].touched ||
                      registerFormControl['intitulePoste'].dirty)
                  "
                />

                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerFormControl['intitulePoste'].invalid &&
                    registerFormControl['intitulePoste'].touched
                  "
                >
                  <ng-container *ngIf="registerFormControl['intitulePoste']?.errors?.['required']">
                    La intitulePoste est requise
                  </ng-container>
                  <ng-container *ngIf="registerFormControl['intitulePoste']?.errors?.['minlength']">
                    Minimum 2 charactères
                  </ng-container>
                  <ng-container *ngIf="registerFormControl['intitulePoste']?.errors?.['maxlength']">
                    Maximum de charactères atteint
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 row row-cols-sm-auto">
              <label for="" class="col-sm-2 col-form-label">date d'affectation :</label>
              <div class="col-sm-10">
                <p-datePicker
                  formControlName="dateAffectation"
                  [showIcon]="true"
                  [dateFormat]="'dd/mm/yy'"
                  [showButtonBar]="true"
                  appendTo="body"
                  [class.ng-invalid.ng-dirty]="
                    registerFormControl['personne'].get('dateAffectation')?.invalid &&
                    (registerFormControl['personne'].get('dateAffectation')?.touched ||
                      registerFormControl['personne'].get('dateAffectation')?.dirty)
                  "
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 row">
              <label for="" class="col-sm-2 col-form-label"
                >emploi type (cf REME ou REFERENS) :</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id=""
                  formControlName="emploiType"
                  [class.is-invalid]="
                    registerFormControl['emploiType'].invalid &&
                    (registerFormControl['emploiType'].touched ||
                      registerFormControl['emploiType'].dirty)
                  "
                />

                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerFormControl['emploiType'].invalid &&
                    registerFormControl['emploiType'].touched
                  "
                >
                  <ng-container *ngIf="registerFormControl['emploiType']?.errors?.['required']">
                    La emploiType est requise
                  </ng-container>
                  <ng-container *ngIf="registerFormControl['emploiType']?.errors?.['minlength']">
                    Minimum 2 charactères
                  </ng-container>
                  <ng-container *ngIf="registerFormControl['emploiType']?.errors?.['maxlength']">
                    Maximum de charactères atteint
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 row">
              <label for="" class="col-sm-2 col-form-label"
                >poisitionnement du poste dans la structure :</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id=""
                  formControlName="positionPoste"
                  [class.is-invalid]="
                    registerFormControl['positionPoste'].invalid &&
                    (registerFormControl['positionPoste'].touched ||
                      registerFormControl['positionPoste'].dirty)
                  "
                />

                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerFormControl['positionPoste'].invalid &&
                    registerFormControl['positionPoste'].touched
                  "
                >
                  <ng-container *ngIf="registerFormControl['positionPoste']?.errors?.['required']">
                    La positionPoste est requise
                  </ng-container>
                  <ng-container *ngIf="registerFormControl['positionPoste']?.errors?.['minlength']">
                    Minimum 2 charactères
                  </ng-container>
                  <ng-container *ngIf="registerFormControl['positionPoste']?.errors?.['maxlength']">
                    Maximum de charactères atteint
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 row">
              <label for="" class="col-sm-2 col-form-label">quotité d'affectation :</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id=""
                  formControlName="quotiteAffectation"
                  [class.is-invalid]="
                    registerFormControl['quotiteAffectation'].invalid &&
                    (registerFormControl['quotiteAffectation'].touched ||
                      registerFormControl['quotiteAffectation'].dirty)
                  "
                />

                <div
                  class="invalid-feedback"
                  *ngIf="
                    registerFormControl['quotiteAffectation'].invalid &&
                    registerFormControl['quotiteAffectation'].touched
                  "
                >
                  <ng-container
                    *ngIf="registerFormControl['quotiteAffectation']?.errors?.['required']"
                  >
                    La quotiteAffectation est requise
                  </ng-container>
                  <ng-container
                    *ngIf="registerFormControl['quotiteAffectation']?.errors?.['minlength']"
                  >
                    Minimum 2 charactères
                  </ng-container>
                  <ng-container
                    *ngIf="registerFormControl['quotiteAffectation']?.errors?.['maxlength']"
                  >
                    Maximum de charactères atteint
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <h4>Missions du poste :</h4>

    <div class="mb-3">
      <app-shared-editor [formGroup]="form" formControlName="missions"></app-shared-editor>
      <div
        class="invalid-feedback"
        *ngIf="registerFormControl['missions'].invalid && registerFormControl['missions'].touched"
      >
        <ng-container *ngIf="registerFormControl['missions']?.errors?.['required']">
          La missions est requise
        </ng-container>
        <ng-container *ngIf="registerFormControl['missions']?.errors?.['minlength']">
          Minimum 2 charactères
        </ng-container>
        <ng-container *ngIf="registerFormControl['missions']?.errors?.['maxlength']">
          Maximum de charactères atteint
        </ng-container>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5>le cas échéant, fonctions d'encadrement ou de conduite de projet :</h5>
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="mb-3 row row-cols-2">
            <div class="col">L'agent assume-t-il des fonctions de conduite de projet ?</div>
            <div class="col">
              <p-togglebutton formControlName="conduiteProjet" onLabel="Oui" offLabel="Non" />
            </div>
          </div>
          <div class="mb-3 row row-cols-2">
            <div class="col">L'agent assume-t-il des fonctions d'encadrement ?</div>
            <div class="col">
              <p-togglebutton formControlName="encadrement" onLabel="Oui" offLabel="Non" />
            </div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="form.get('encadrement')?.value">
            <div class="card w-50">
              <div class="card-header">
                <h5>Si OUI :</h5>
              </div>
              <div class="card-body">
                <div class="mb-3 row row-cols-2">
                  <div class="col-6">précider le nombre d'agents :</div>
                  <div class="col">
                    <input
                      type="text"
                      class="form-control"
                      id=""
                      formControlName="cpeNbAgent"
                      [class.is-invalid]="
                        registerFormControl['cpeNbAgent'].invalid &&
                        (registerFormControl['cpeNbAgent'].touched ||
                          registerFormControl['cpeNbAgent'].dirty)
                      "
                    />

                    <div
                      class="invalid-feedback"
                      *ngIf="
                        registerFormControl['cpeNbAgent'].invalid &&
                        registerFormControl['cpeNbAgent'].touched
                      "
                    >
                      <ng-container *ngIf="registerFormControl['cpeNbAgent']?.errors?.['required']">
                        La nombre_agents est requise
                      </ng-container>
                      <ng-container
                        *ngIf="registerFormControl['cpeNbAgent']?.errors?.['minlength']"
                      >
                        Minimum 2 charactères
                      </ng-container>
                      <ng-container
                        *ngIf="registerFormControl['cpeNbAgent']?.errors?.['maxlength']"
                      >
                        Maximum de charactères atteint
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row row-cols-2">
                  <div class="col-6">et leur répartition par catégorie :</div>
                  <div class="col">
                    <div class="mb-3 row row-cols-2">
                      <div class="col-5">
                        <input
                          type="text"
                          class="form-control"
                          id=""
                          formControlName="cpeCategA"
                          [class.is-invalid]="
                            registerFormControl['cpeCategA'].invalid &&
                            (registerFormControl['cpeCategA'].touched ||
                              registerFormControl['cpeCategA'].dirty)
                          "
                        />
                      </div>
                      <div class="col">A</div>

                      <div
                        class="invalid-feedback"
                        *ngIf="
                          registerFormControl['cpeCategA'].invalid &&
                          registerFormControl['cpeCategA'].touched
                        "
                      >
                        <ng-container
                          *ngIf="registerFormControl['cpeCategA']?.errors?.['required']"
                        >
                          La a est requise
                        </ng-container>
                        <ng-container
                          *ngIf="registerFormControl['cpeCategA']?.errors?.['minlength']"
                        >
                          Minimum 2 charactères
                        </ng-container>
                        <ng-container
                          *ngIf="registerFormControl['cpeCategA']?.errors?.['maxlength']"
                        >
                          Maximum de charactères atteint
                        </ng-container>
                      </div>
                    </div>

                    <div class="mb-3 row row-cols-2">
                      <div class="col-5">
                        <input type="text" class="form-control" id="" formControlName="cpeCategB" />
                      </div>
                      <div class="col">B</div>
                    </div>

                    <div class="mb-3 row row-cols-2">
                      <div class="col-5">
                        <input type="text" class="form-control" id="" formControlName="cpeCategC" />
                      </div>
                      <div class="col">C</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
