.preparation {
  background-color: #d3ff33; /* Couleur pour 'En préparation' */
}

.rendez-vous {
  background-color: #f8683c; /* Couleur pour 'Rendez-vous pris' */
}

.saisie {
  background-color: #87e431; /* Couleur pour 'En cours de saisie' */
}

.signe-personne {
  background-color: #009ad6; /* Couleur pour 'A signer (agent)' */
}

.signe-chef {
  background-color: #8f02b9; /* Couleur pour 'A signer (chef)' */
}

.valide {
  background-color: #b90019; /* Couleur pour 'Entretien validé' */
}
