<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closeOnEscape]="false"
  [closable]="false"
  [style]="{ width: '80%' }"
  (onHide)="hide.emit()"
>
  <ng-template #header>
    <ng-container *ngIf="ficheSelectionnee">
      <p-toolbar class="toolbar-fixe" [style]="{ width: '100%' }">
        <ng-template #start></ng-template>
        <ng-template #center></ng-template>
        <ng-template #end>
          <ng-content select="[dialog-actions]"></ng-content>
        </ng-template>
      </p-toolbar>
    </ng-container>
  </ng-template>

  <ng-container *ngIf="ficheSelectionnee">
    <div class="content-scroll flex-grow-1 d-flex flex-column">
      <form #form="ngForm" (ngSubmit)="submit.emit(form.value)">
        <h2>Fiche de poste</h2>
        <br /><br />

        <input type="hidden" name="id" [(ngModel)]="ficheSelectionnee.id" />

        <table>
          <tr>
            <th class="minimal withTitre" colspan="1">Fonctions :</th>
            <td colspan="3">
              <input pInputText name="fonction" [(ngModel)]="ficheSelectionnee.fonction" fluid />
            </td>
          </tr>
          <tr>
            <th class="minimal withTitre" colspan="1">Métier ou emploi type<sup>*</sup> :</th>
            <td colspan="3">
              <input
                pInputText
                name="emploiType"
                [(ngModel)]="ficheSelectionnee.emploiType"
                fluid
              />
            </td>
          </tr>
          <tr>
            <th colspan="4" class="titre">Fiche descriptive du poste</th>
          </tr>
          <tr>
            <th class="minimal withTitre" colspan="1">Catégorie :</th>
            <td colspan="3">
              <input
                pInputText
                name="fdpCategorie"
                [(ngModel)]="ficheSelectionnee.fdpCategorie"
                fluid
              />
            </td>
          </tr>
          <tr>
            <th class="minimal withTitre" colspan="1">Corps :</th>
            <td colspan="3">
              <input pInputText name="fdpCorps" [(ngModel)]="ficheSelectionnee.fdpCorps" fluid />
            </td>
          </tr>
          <tr>
            <th colspan="4" class="titre">Affectation</th>
          </tr>
          <tr>
            <th class="minimal withTitre" colspan="2">Administrative :</th>
            <td colspan="2">
              <input
                pInputText
                name="affectationAdministrative"
                [(ngModel)]="ficheSelectionnee.affectationAdministrative"
                fluid
              />
            </td>
          </tr>
          <tr>
            <th class="minimal withTitre" colspan="2">Géographique :</th>
            <td colspan="2">
              <input
                pInputText
                name="affectationGeographique"
                [(ngModel)]="ficheSelectionnee.affectationGeographique"
                fluid
              />
            </td>
          </tr>
          <tr>
            <th colspan="4" class="titre">Missions</th>
          </tr>
          <tr>
            <td class="minimal" colspan="4">
              <p>Activités principales :</p>
              <p>
                <p-editor
                  #content="ngModel"
                  [(ngModel)]="ficheSelectionnee.missions"
                  name="missions"
                  [style]="{ height: '320px' }"
                  fluid
                />
              </p>
            </td>
          </tr>
          <tr>
            <td>Encadrement :</td>
            <td style="width: 140px">
              <p-selectbutton
                [options]="yesNoOptions"
                name="encadrement"
                [(ngModel)]="ficheSelectionnee.encadrement"
                optionLabel="label"
                optionValue="value"
                aria-labelledby="basic"
              />
            </td>
            <td class="minimal" style="width: 270px">Nb agents encadrés par catégorie :</td>
            <td>
              <ul class="li-inline">
                <li>
                  <p-inputnumber
                    inputId="integeronly"
                    size="small"
                    name="cpeCategA"
                    [(ngModel)]="ficheSelectionnee.cpeCategA"
                  />
                  A
                </li>
                <li>
                  <p-inputnumber
                    inputId="integeronly"
                    size="small"
                    name="cpeCategB"
                    [(ngModel)]="ficheSelectionnee.cpeCategB"
                  />
                  B
                </li>
                <li>
                  <p-inputnumber
                    inputId="integeronly"
                    size="small"
                    name="cpeCategC"
                    [(ngModel)]="ficheSelectionnee.cpeCategC"
                  />
                  C
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Conduite de projet :</td>
            <td style="width: 140px">
              <p-selectbutton
                [options]="yesNoOptions"
                name="conduiteProjet"
                [(ngModel)]="ficheSelectionnee.conduiteProjet"
                optionLabel="label"
                optionValue="value"
                aria-labelledby="basic"
              />
            </td>
            <td colspan="2"></td>
          </tr>

          <tr>
            <th class="titre" colspan="4">Compétences*</th>
          </tr>
          <tr>
            <td class="minimal" colspan="4">
              <p>Connaissance, savoir :</p>
              <p>
                <p-editor
                  #content="ngModel"
                  [(ngModel)]="ficheSelectionnee.competencesConnaissances"
                  name="competencesConnaissances"
                  [style]="{ height: '320px' }"
                  fluid
                />
              </p>
            </td>
          </tr>
          <tr>
            <td class="minimal" colspan="4">
              <p>Savoir faire :</p>
              <p>
                <p-editor
                  #content="ngModel"
                  [(ngModel)]="ficheSelectionnee.competencesSavoirFaire"
                  name="competencesSavoirFaire"
                  [style]="{ height: '320px' }"
                  fluid
                />
              </p>
            </td>
          </tr>
          <tr>
            <td class="minimal" colspan="4">
              <p>Savoir être :</p>
              <p>
                <p-editor
                  #content="ngModel"
                  [(ngModel)]="ficheSelectionnee.competencesSavoirEtre"
                  name="competencesSavoirEtre"
                  [style]="{ height: '320px' }"
                  fluid
                />
              </p>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </ng-container>
</p-dialog>
