<p-buttongroup>
  <ng-container *ngIf="entretien">
    <p-button
      *ngIf="displayButtonsEnPreparation"
      icon="pi pi-pen-to-square"
      (click)="newEntretien(false)"
      severity="help"
      rounded
      pTooltip="Préparer l'entretien"
    />

    <p-button
      *ngIf="displayButtonsViewDownload"
      icon="pi pi-search"
      (click)="viewPDF()"
      severity="secondary"
      rounded
      pTooltip="Voir le PDF"
    />

    <p-button
      *ngIf="displayButtonsViewDownload"
      icon="pi pi-download"
      (click)="getPDF()"
      severity="secondary"
      pTooltip="Télécharger le PDF"
      rounded
    />

    <p-button
      *ngIf="displayButtonRdv"
      icon="pi pi-calendar"
      (onClick)="op.toggle($event)"
      severity="secondary"
      pTooltip="Choisir la date de l'entretien"
      rounded
    />

    <p-popover #op>
      <p-datePicker
        [(ngModel)]="dateValue"
        [style]="{ width: '200px' }"
        [showIcon]="true"
        [dateFormat]="'dd/mm/yy'"
        (onSelect)="onDateSelect($event)"
        [minDate]="minDate"
        [maxDate]="maxDate"
      >
      </p-datePicker>
    </p-popover>

    <p-button
      *ngIf="displayButtonSign"
      icon="pi pi-pencil"
      (click)="goSignature()"
      severity="secondary"
      pTooltip="Signer l'entretien"
      rounded
    />

    <p-button
      *ngIf="displayButtonPlus"
      icon="pi pi-plus"
      (click)="newEntretien(true)"
      severity="success"
      pTooltip="Remplir l'entretien avec l'agent"
      rounded
    />
  </ng-container>
</p-buttongroup>

<app-signature-pad #signatureDialog />
