<div class="container-fluid">
  <h2>ADMIN</h2>

  <div class="row">
    <p-table
      #dt1
      showGridlines
      dataKey="id"
      [value]="liste"
      [paginator]="true"
      [rows]="10"
      responsiveLayout="scroll"
      [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
    >
      <ng-template #header>
        <tr>
          <th class="text-center">Matricule</th>
          <th class="text-center">Personne</th>
          <th class="text-center equal-width-column">Entretiens pro</th>
          <th class="text-center equal-width-column">Entretiens formation</th>
        </tr>
      </ng-template>
      <ng-template #body let-liste>
        <tr>
          <td class="text-center">{{ liste.id }}</td>
          <td class="text-center text-nowrap">
            {{ liste.personne?.nom }} {{ liste.personne?.prenom }}
          </td>

          <td class="text-center">
            <ng-container
              *ngIf="liste.entretienPro[0]?.statut; else noProStatut"
            >
              <p-panel [toggleable]="true" [collapsed]="true">
                <ng-template #header>
                  <app-admin-liste-entretiens-header [entretien]="liste.entretienPro[0]" />
                </ng-template>
                <p class="m-0">
                  <app-admin-liste-entretiens-content [entretiens]="liste.entretienPro" />
                </p>
              </p-panel>
            </ng-container>

            <ng-template #noProStatut></ng-template>
          </td>

          <td class="text-center">
            <ng-container *ngIf="liste.entretienForm[0]?.statut; else noStatut">
              <p-panel [toggleable]="true" [collapsed]="true">
                <ng-template #header>
                  <app-admin-liste-entretiens-header [entretien]="liste.entretienForm[0]" />
                </ng-template>
                <p class="m-0">
                  <app-admin-liste-entretiens-content [entretiens]="liste.entretienForm" />
                </p>
              </p-panel>
            </ng-container>

            <ng-template #noStatut></ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog
      [header]="'Entretien'"
      [(visible)]="visibleDetailPdf"
      [modal]="true"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
      [maximizable]="true"
      (onShow)="onActivatePdfTab()"
      (onHide)="onDialogHide()"
    >
      @if (showViewer) {
      <ngx-extended-pdf-viewer
        [src]="src"
        [height]="'auto'"
        [textLayer]="true"
        [showHandToolButton]="true"
        [filenameForDownload]="'Public Domain.pdf'"
      >
      </ngx-extended-pdf-viewer>
      }
    </p-dialog>
  </div>
</div>
