<p-table
  #dt1
  showGridlines
  dataKey="id"
  [value]="liste"
  [loading]="loading"
  [scrollable]="true"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
  [globalFilterFields]="['id', 'personne.nom']"
  [style]="{ width: '100%' }"
  scrollHeight="flex"
>
  <ng-template #header>
    <tr>
      <th class="text-center">Date de l'entretien</th>
      <th class="text-center">Statut</th>
      <th class="text-center">Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-item>
    <tr>
      <td>{{ item.dateEntretien | date: 'shortDate' }}</td>
      <td>
        <span
          class="badge text-wrap text-nowrap status"
          [ngClass]="getStatutClasses(item.statut)"
          >{{ item.statut }}</span
        >
      </td>
      <td>
        <app-admin-liste-entretiens-buttons2
          [entretien]="item"
          (getPdf)="handleGetPdf($event)"
          (viewPdf)="handleViewPdf($event)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>

<app-dialog-pdf />
