<div class="container">
  <div class="row">
    <div class="col"><h2>Accueil</h2></div>
    <div class="col text-end">
      <h1>{{ anneeScolaire.getAnneeScolaireActuelle(currentYear) }}</h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3>Entretien professionnel</h3>

          @if(listeEntretien && listeEntretien.entretienPro) {
            <app-home-item [entretien]="listeEntretien.entretienPro" />
          } @else {
            <div class="alert alert-info" role="alert">PAS D'ENTRETIEN</div>
          }
        </div>
        <div class="col">
          <h3>Entretien formation</h3>

          @if(listeEntretien && listeEntretien.entretienForm) {
            <app-home-item [entretien]="listeEntretien.entretienForm" />
          } @else {
            <div class="alert alert-info" role="alert">PAS D'ENTRETIEN</div>
          }
        </div>
      </div>
    </div>
  </div>

  <p-dialog
    [header]="'Entretien'"
    [(visible)]="visibleDetailPdf"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
    (onShow)="onActivatePdfTab()"
    (onHide)="onDialogHide()"
  >
    @if (showViewer) {
    <ngx-extended-pdf-viewer
      [src]="src"
      [height]="'auto'"
      [textLayer]="true"
      [showHandToolButton]="true"
      [filenameForDownload]="'Public Domain.pdf'"
    >
    </ngx-extended-pdf-viewer>
    }
  </p-dialog>
</div>
