<p-toast />
<div class="content-wrapper">
  <div class="header-title"><h1 class="h5">Entretien professionnel</h1></div>
  <div class="columns">
    <div class="left-content">
      <nav class="border-end bg-light">
        <div
          *ngFor="let step of steps"
          (click)="goToStep(step.value)"
          [ngClass]="{ 'bg-primary text-white': currentStepIndex === step.value }"
          class="px-3 py-3 border-bottom cursor-pointer fw-semibold"
          style="cursor: pointer"
        >
          {{ step.value }} {{ step.label }}
        </div>
      </nav>
    </div>
    <div class="right-content">
      <form [formGroup]="entretienForm" novalidate *ngIf="entretienForm" class="my-form-in-right">
        <div class="content-scrollable">
          <ng-template #dynamicStepContainer></ng-template>
        </div>
        <div class="bottom-bar">
          <p-button
            label="Quitter le formulaire"
            icon="pi pi-times"
            size="large"
            severity="secondary"
            (click)="goToAdminForm()"
            [rounded]="true"
            [raised]="true"
          />
          <p-button
            label="Précédent"
            icon="pi pi-arrow-left"
            size="large"
            severity="secondary"
            [outlined]="true"
            (click)="goToPreviousStep()"
            [rounded]="true"
            [raised]="true"
            [disabled]="currentStepIndex === 1"
          />
          <p-button
            label="Suivant"
            icon="pi pi-arrow-right"
            size="large"
            severity="info"
            (click)="goToNextStep()"
            [rounded]="true"
            [raised]="true"
            [disabled]="isLastStep()"
          />
          <p-button
            label="Enregistrer"
            icon="pi pi-save"
            size="large"
            severity="danger"
            (click)="goSaveStep()"
            [rounded]="true"
            [raised]="true"
          />
        </div>
      </form>
    </div>
  </div>
</div>
