<p-toast />
<div class="container-fluid py-5 formPage">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mb-2">
      <h1 class="h5">Entretien professionnel</h1>
    </div>
  </div>

  <div class="step-form-container">
    <form [formGroup]="entretienForm" (ngSubmit)="onSubmit()" novalidate *ngIf="entretienForm">
      <div class="container">
        <div class="row row-cols-sm-auto">
          <div class="input-group">
            <label for="dateEntretien" class="col-sm-4 col-form-label">Date de l'entretien :</label>
            <p-datePicker
              formControlName="dateEntretien"
              [showIcon]="true"
              [dateFormat]="'dd/mm/yy'"
              appendTo="body"
              [minDate]="minDate"
              [showButtonBar]="true"
              [class.ng-invalid.ng-dirty]="
                entretienForm.get('dateEntretien')?.invalid &&
                (entretienForm.get('dateEntretien')?.touched ||
                  entretienForm.get('dateEntretien')?.dirty)
              "
            />
          </div>
        </div>
        <br />
        <div class="card">
          <p-stepper #stepper [value]="currentStepIndex" [linear]="true">
            <p-step-item [value]="1">
              <p-step>Informations générales</p-step>
              <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                  <div class="flex flex-col">
                    <app-entretien-pro-step1 />
                  </div>
                </ng-template>
              </p-step-panel>
            </p-step-item>

            <p-step-item [value]="2">
              <p-step>1 - DESCRIPTION DU POSTE OCCUPE PAR L'AGENT</p-step>
              <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                  <div class="flex flex-col h-48">
                    <app-entretien-pro-step2 />
                  </div>
                </ng-template>
              </p-step-panel>
            </p-step-item>

            <p-step-item [value]="3">
              <p-step>2 - Evaluation de l'année écoulée</p-step>
              <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                  <div class="flex flex-col h-48">
                    <app-entretien-pro-step3 />
                  </div>
                </ng-template>
              </p-step-panel>
            </p-step-item>

            <p-step-item [value]="4">
              <p-step>3 - VALEUR PROFESSIONNELLE ET MANIERE DE SERVIR DU FONCTIONNAIRE</p-step>
              <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                  <div class="flex flex-col h-48">
                    <app-entretien-pro-step4 />
                  </div>
                </ng-template>
              </p-step-panel>
            </p-step-item>

            <p-step-item [value]="5">
              <p-step>4 - ACQUIS DE L’EXPERIENCE PROFESSIONNELLE</p-step>
              <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                  <div class="flex flex-col h-48">
                    <app-entretien-pro-step5 />
                  </div>
                </ng-template>
              </p-step-panel>
            </p-step-item>

            <p-step-item [value]="6">
              <p-step>5 - OBJECTIFS FIXÉS POUR LA NOUVELLE ANNÉE</p-step>
              <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                  <div class="flex flex-col h-48">
                    <app-entretien-pro-step6 />
                  </div>
                </ng-template>
              </p-step-panel>
            </p-step-item>

            <p-step-item [value]="7">
              <p-step>6 - PERSPECTIVES D'EVOLUTION PROFESSIONNELLE</p-step>
              <p-step-panel>
                <ng-template #content let-activateCallback="activateCallback">
                  <div class="flex flex-col h-48">
                    <app-entretien-pro-step7 />
                  </div>
                </ng-template>
              </p-step-panel>
            </p-step-item>
          </p-stepper>
        </div>
      </div>

      <div class="action-bar fixed-bottom bg-white p-3 border-top text-end">
        <p-buttongroup>
          <p-button
            label="Quitter le formulaire"
            icon="pi pi-times"
            size="large"
            severity="contrast"
            (click)="goToAdminForm()"
            [rounded]="true"
            [raised]="true"
          />
          <p-button
            label="Précédent"
            icon="pi pi-arrow-left"
            size="large"
            severity="secondary"
            (click)="goToPreviousStep()"
            [rounded]="true"
            [raised]="true"
            [disabled]="currentStepIndex === 1"
          />
          <p-button
            label="Suivant"
            icon="pi pi-arrow-right"
            size="large"
            severity="primary"
            (click)="goToNextStep()"
            [rounded]="true"
            [raised]="true"
            [disabled]="isLastStep()"
          />
          <p-button
            [label]="boutonLabelSubmit"
            icon="pi pi-save"
            size="large"
            severity="danger"
            (click)="onSubmit()"
            [rounded]="true"
            [raised]="true"
          />
        </p-buttongroup>
      </div>
    </form>
  </div>
</div>
