<form [formGroup]="form">
  <div class="flex-auto flex row">
    <h3>5.1 - Objectifs d'activités attendus</h3>

    <div class="mb-3">
      <app-shared-editor
        [formGroup]="form"
        formControlName="objectifsActivites"
      ></app-shared-editor>
    </div>

    <br />

    <h3>
      5.2 - Démarche envisagée, et moyens à prévoir dont la formation, pour faciliter l'atteinte des
      objectifs
    </h3>

    <div class="mb-3">
      <app-shared-editor [formGroup]="form" formControlName="demarcheEnvisagee"></app-shared-editor>
    </div>
  </div>
</form>
