<form [formGroup]="form">
  <div class="flex-auto flex row">
    <h3>6.1 - Evolution des activités (préciser l'échéance envisagée)</h3>

    <div class="mb-3">
      <app-shared-editor
        [formGroup]="form"
        formControlName="evolutionActivites"
      ></app-shared-editor>
    </div>

    <br />

    <h3>6.2 - Evolution de carrière</h3>

    <div class="mb-3">
      <app-shared-editor [formGroup]="form" formControlName="evolutionCarriere"></app-shared-editor>
    </div>
  </div>
</form>
