<p-table
  showGridlines
  [value]="entretiens"
  [paginator]="true"
  [rows]="5"
  responsiveLayout="scroll"
  [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
>
  <ng-template #header>
    <tr>
      <th class="text-center">Date d'entretien</th>
      <th class="text-center" colspan="2">Entretiens</th>
    </tr>
  </ng-template>
  <ng-template #body let-entretien>
    <tr>
      <td class="text-center">
        {{ entretien.dateEntretien | date : "dd/MM/yyyy" }}
      </td>
      <td class="text-center">
        <app-admin-liste-entretiens-header [entretien]="entretien" />
      </td>
      <td class="text-center" style="width: 5rem; padding: 0; margin: 0">
        <p-buttongroup>
          <ng-container *ngIf="entretien">
            <p-button
              icon="pi pi-search"
              (click)="viewPDF(entretien?.id)"
              severity="secondary"
              rounded
            />
            <p-button
              icon="pi pi-download"
              (click)="getPDF(entretien?.id)"
              severity="secondary"
              rounded
            />
          </ng-container>
        </p-buttongroup>
      </td>
    </tr>
  </ng-template>
</p-table>
