<form [formGroup]="form">
  <div class="flex-auto flex row">
    <h3>2.1 - Rappel des objectifs d'activités attendus fixés l'année précédente</h3>

    <div class="mb-3">
      <app-shared-editor [formGroup]="form" formControlName="rappelObjectifs"></app-shared-editor>
    </div>

    <br /><br />

    <h3>
      2.2 - Événements survenus au cours de la période écoulée ayant entraîné un impact sur
      l'activité
    </h3>
    <p>(nouvelles orientations, réorganisations, nouvelles méthodes, nouveaux outils, etc.)</p>

    <div class="mb-3">
      <app-shared-editor
        [formGroup]="form"
        formControlName="evenementsSurvenus"
      ></app-shared-editor>
    </div>
  </div>
</form>
