<div class="app-container">
  <div class="sidebar">
    <div class="text-center p-3">
      <img
        [src]="'images/' + appInfo.logo + '.png'"
        [srcset]="'images/' + appInfo.logo + '.png, images/' + appInfo.logo + '@2x.png 2x'"
        [alt]="appInfo.name + ' Logo'"
        class="logo img-fluid"
      />
    </div>
    <nav class="nav flex-column">
      <a class="nav-link active" routerLink="/admin/entretiens" routerLinkActive="active-link">
        <i class="pi pi-list"></i>Liste des entretiens
      </a>
      <a class="nav-link active" routerLink="/admin/fiches-poste" routerLinkActive="active-link">
        <i class="pi pi-list"></i>Liste des fiches de poste
      </a>
      <a class="nav-link" routerLink="/admin/personnes" routerLinkActive="active-link">
        <i class="pi pi-users"></i>
        Liste des personnes</a
      >
    </nav>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
