<p-toast />
<p-dialog
  [header]="'Entretien'"
  [(visible)]="display"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
  (onShow)="onActivatePdfTab()"
  (onHide)="onDialogHide()"
>
  @if (showViewer) {
    <ngx-extended-pdf-viewer
      [src]="src"
      [height]="'auto'"
      [textLayer]="true"
      [showHandToolButton]="true"
      [filenameForDownload]="'Public Domain.pdf'"
    >
    </ngx-extended-pdf-viewer>
  }
</p-dialog>
