<p>Utilisateur : {{ getAgentName() }}</p>

<ng-container *ngIf="entretien; else noEntretien">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        {{ entretien.dateEntretien | date: 'dd/MM/yyyy' }}
      </div>
      <div class="col badge text-wrap lineEntretien status" [ngClass]="getStatutClasses()">
        {{ getEntretienStatut() }}
      </div>
      <div class="col">
        <p-buttongroup>
          <ng-container *ngIf="entretien">
            <p-button
              *ngIf="displayButtonsViewDownload"
              icon="pi pi-search"
              (click)="viewPDF(this.entretien.id)"
              severity="secondary"
              rounded
            />
            <p-button
              *ngIf="displayButtonsViewDownload"
              icon="pi pi-download"
              (click)="getPDF(this.entretien.id)"
              severity="secondary"
              rounded
            />
            <p-button
              *ngIf="displayButtonAgentCommentaire"
              icon="pi pi-comments"
              (click)="goAgentCommentaire()"
              severity="secondary"
              rounded
            />
            <p-button
              *ngIf="displayButtonSign"
              icon="pi pi-pencil"
              (click)="goSignature()"
              severity="secondary"
              rounded
            />
          </ng-container>
        </p-buttongroup>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noEntretien>
  <div class="alert alert-info" role="alert">PAS D'ENTRETIEN</div></ng-template
>

<app-signature-pad #signatureDialog />
<app-agent-commentaire #agentCommentaireDialog />
<app-home-dialog-pdf #pdfDialog />
