<div class="container-fluid">
  <p-toast />
  <h2>Liste des fiches de poste</h2>

  <p-splitter [panelSizes]="[40, 60]" [style]="{ height: '100%' }">
    <ng-template #panel>
      <p-table
        #dt
        [value]="personnes"
        selectionMode="single"
        [(selection)]="ficheSelectionnee"
        (onRowSelect)="afficherDetails($event.data)"
        showGridlines
        stripedRows
        dataKey="id"
        [loading]="loading"
        [scrollable]="true"
        [paginator]="true"
        [rows]="10"
        [tableStyle]="{ width: '100%' }"
        [rowsPerPageOptions]="[5, 10, 15]"
        [globalFilterFields]="['matricule', 'nom', 'prenom', 'email']"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>MATRICULE</th>
            <th>NOM</th>
            <th>PRENOM</th>
          </tr>
        </ng-template>
        <ng-template #body let-personne let-ri="rowIndex">
          <tr [pEditableRow]="personne" [pSelectableRow]="personne">
            <td class="text-nowrap">{{ personne.matricule }}</td>
            <td class="text-nowrap">
              {{ personne.nom }}
            </td>
            <td class="text-nowrap">
              {{ personne.prenom }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
    <ng-template #panel>
      <ng-container *ngIf="ficheSelectionnee">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="panel-droite">
            <h2>Fiche de poste</h2>
            <br /><br />

            <ng-container *ngIf="premierPoste as poste">
              <input type="hidden" name="id" [ngModel]="poste.id" />
            </ng-container>

            <table>
              <tr>
                <th class="minimal withTitre" colspan="1">Fonctions :</th>
                <td colspan="3">
                  <ng-container *ngIf="premierPoste as poste">
                    <input pInputText name="fonction" [(ngModel)]="poste.fonction" fluid />
                  </ng-container>
                </td>
              </tr>
              <tr>
                <th class="minimal withTitre" colspan="1">Métier ou emploi type<sup>*</sup> :</th>
                <td colspan="3">
                  <ng-container *ngIf="premierPoste as poste">
                    <input pInputText name="emploiType" [(ngModel)]="poste.emploiType" fluid />
                  </ng-container>
                </td>
              </tr>
              <tr>
                <th colspan="4" class="titre">Fiche descriptive du poste</th>
              </tr>
              <tr>
                <th class="minimal withTitre" colspan="1">Catégorie :</th>
                <td colspan="3">
                  <ng-container *ngIf="premierPoste as poste">
                    <input pInputText name="fdpCategorie" [(ngModel)]="poste.fdpCategorie" fluid />
                  </ng-container>
                </td>
              </tr>
              <tr>
                <th class="minimal withTitre" colspan="1">Corps :</th>
                <td colspan="3">
                  <ng-container *ngIf="premierPoste as poste">
                    <input pInputText name="fdpCorps" [(ngModel)]="poste.fdpCorps" fluid />
                  </ng-container>
                </td>
              </tr>
              <tr>
                <th colspan="4" class="titre">Affectation</th>
              </tr>
              <tr>
                <th class="minimal withTitre" colspan="2">Administrative :</th>
                <td colspan="2">
                  <ng-container *ngIf="premierPoste as poste">
                    <input
                      pInputText
                      name="affectationAdministrative"
                      [(ngModel)]="poste.affectationAdministrative"
                      fluid
                    />
                  </ng-container>
                </td>
              </tr>
              <tr>
                <th class="minimal withTitre" colspan="2">Géographique :</th>
                <td colspan="2">
                  <ng-container *ngIf="premierPoste as poste">
                    <input
                      pInputText
                      name="affectationGeographique"
                      [(ngModel)]="poste.affectationGeographique"
                      fluid
                    />
                  </ng-container>
                </td>
              </tr>
              <tr>
                <th colspan="4" class="titre">Missions</th>
              </tr>
              <tr>
                <td class="minimal" colspan="4">
                  <p>Activités principales :</p>
                  <p>
                    <ng-container *ngIf="premierPoste as poste">
                      <p-editor
                        #content="ngModel"
                        [(ngModel)]="poste.missions"
                        name="missions"
                        [style]="{ height: '320px' }"
                        fluid
                      />
                    </ng-container>
                  </p>
                </td>
              </tr>
              <tr>
                <td>Encadrement :</td>
                <td style="width: 140px">
                  <ng-container *ngIf="premierPoste as poste">
                    <p-selectbutton
                      [options]="yesNoOptions"
                      name="encadrement"
                      [(ngModel)]="poste.encadrement"
                      optionLabel="label"
                      optionValue="value"
                      aria-labelledby="basic"
                    />
                  </ng-container>
                </td>
                <td class="minimal" style="width: 270px">Nb agents encadrés par catégorie :</td>
                <td>
                  <ul>
                    <li>
                      <ng-container *ngIf="premierPoste as poste">
                        <p-inputnumber
                          inputId="integeronly"
                          size="small"
                          name="cpeCategA"
                          [(ngModel)]="poste.cpeCategA"
                        />
                      </ng-container>
                      A
                    </li>
                    <li>
                      <ng-container *ngIf="premierPoste as poste">
                        <p-inputnumber
                          inputId="integeronly"
                          size="small"
                          name="cpeCategB"
                          [(ngModel)]="poste.cpeCategB"
                        />
                      </ng-container>
                      B
                    </li>
                    <li>
                      <ng-container *ngIf="premierPoste as poste">
                        <p-inputnumber
                          inputId="integeronly"
                          size="small"
                          name="cpeCategC"
                          [(ngModel)]="poste.cpeCategC"
                        />
                      </ng-container>
                      C
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Conduite de projet :</td>
                <td style="width: 140px">
                  <ng-container *ngIf="premierPoste as poste">
                    <p-selectbutton
                      [options]="yesNoOptions"
                      name="conduiteProjet"
                      [(ngModel)]="poste.conduiteProjet"
                      optionLabel="label"
                      optionValue="value"
                      aria-labelledby="basic"
                    />
                  </ng-container>
                </td>
                <td colspan="2"></td>
              </tr>

              <tr>
                <th class="titre" colspan="4">Compétences*</th>
              </tr>
              <tr>
                <td class="minimal" colspan="4">
                  <p>Connaissance, savoir :</p>
                  <p>
                    <ng-container *ngIf="premierPoste as poste">
                      <p-editor
                        #content="ngModel"
                        [(ngModel)]="poste.competencesConnaissances"
                        name="competencesConnaissances"
                        [style]="{ height: '320px' }"
                        fluid
                      />
                    </ng-container>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="minimal" colspan="4">
                  <p>Savoir faire :</p>
                  <p>
                    <ng-container *ngIf="premierPoste as poste">
                      <p-editor
                        #content="ngModel"
                        [(ngModel)]="poste.competencesSavoirFaire"
                        name="competencesSavoirFaire"
                        [style]="{ height: '320px' }"
                        fluid
                      />
                    </ng-container>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="minimal" colspan="4">
                  <p>Savoir être :</p>
                  <p>
                    <ng-container *ngIf="premierPoste as poste">
                      <p-editor
                        #content="ngModel"
                        [(ngModel)]="poste.competencesSavoirEtre"
                        name="competencesSavoirEtre"
                        [style]="{ height: '320px' }"
                        fluid
                      />
                    </ng-container>
                  </p>
                </td>
              </tr>
            </table>

            <button pButton type="submit">Enregistrer</button>
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="!ficheSelectionnee">
        <p>Sélectionnez une fiche pour voir le détail</p>
      </ng-container>
    </ng-template>
  </p-splitter>
</div>
