<ul>
  <li>
    VAE – Validation des acquis de l'expérience, Éligible au PAF
    <span
      >(pour obtenir un diplôme, un titre ou une certification inscrite au répertoire nationale des
      certifications professionnelles)</span
    >
  </li>
  <li>
    Bilan de compétences, Éligible au PAF
    <span>(pour permettre une mobilité fonctionnelle ou géographique)</span>
  </li>
  <li>
    Période de professionnalisation, Éligible au PAF
    <span
      >(pour prévenir des risques d'inadaptation à l'évolution des méthodes et techniques, pour
      favoriser l'accès à des emplois exigeant des compétences nouvelles ou qualifications
      différentes, pour accéder à un autre corps ou cadre d'emplois, pour les agents qui reprennent
      leur activité professionnelle après un congé maternité ou parental)</span
    >
  </li>
  <li>
    Congé de formation professionnelle, Éligible au PAF
    <span>(Pour suivre une formation)</span>
  </li>
  <li>
    Entretien de carrière
    <span
      >(Pour évaluer son parcours et envisager des possibilités d'évolution professionnelle à 2-3
      ans)</span
    >
  </li>
  <li>
    Bilan de carrière
    <span
      >(pour renouveler ses perspectives professionnelles à 4-5 ans ou préparer un projet de 2e
      carrière)</span
    >
  </li>
</ul>
<form [formGroup]="form">
  <textarea
    rows="7"
    class="form-control"
    pTextarea
    formControlName="formationsConstruireProjet"
  ></textarea>
  <br /><br />
</form>
