.preparation {
  background-color: #addd2a; /* Couleur pour 'En préparation' */
}

.rendez-vous {
  background-color: #4e9e0c; /* Couleur pour 'Rendez-vous pris' */
}

.saisie {
  background-color: #4c1594; /* Couleur pour 'En cours de saisie' */
}

.valide {
  background-color: #9b1b7b; /* Couleur pour 'Entretien validé' */
}

.equal-width-column {
  width: 50%;
}
