<p-toast />
<h2>Liste des entretiens</h2>

<div class="content-scroll flex-grow-1 d-flex flex-column">
  <p-table
    #dt1
    showGridlines
    dataKey="id"
    [value]="liste"
    [loading]="loading"
    [scrollable]="true"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
    [globalFilterFields]="['id', 'personne.nom']"
    [style]="{ width: '100%' }"
    scrollHeight="flex"
  >
    <ng-template #caption>
      <div
        class="d-flex flex-wrap align-items-center gap-3 p-3 border rounded bg-light justify-content-center memo-step"
      >
        <div class="d-flex align-items-center">
          <p-button class="me-2 no-click" icon="pi pi-pen-to-square" severity="help" rounded />
          <span><b>Etape 1</b> : Préparation du formulaire</span>
        </div>
        <div class="d-flex align-items-center">
          <p-button icon="pi pi-calendar" severity="secondary" rounded class="me-2 no-click" />
          <span><b>Etape 2</b> : Prise de rendez-vous</span>
        </div>
        <div class="d-flex align-items-center">
          <p-button icon="pi pi-plus" severity="success" rounded class="me-2 no-click" />
          <span><b>Etape 3</b> : Remplir le formulaire avec l'agent</span>
        </div>
        <div class="d-flex align-items-center">
          <p-button icon="pi pi-user-edit" severity="warn" rounded class="me-2 no-click" />
          <span><b>Etape 4</b> : Envoyer pour signer à l'agent</span>
        </div>
        <div class="d-flex align-items-center">
          <p-button icon="pi pi-pencil" severity="secondary" rounded class="me-2 no-click" />
          <span><b>Etape 5</b> : Signatures (Agent puis Chef)</span>
        </div>

        <!-- Barre séparatrice -->
        <div class="separator my-1 w-100"></div>

        <div class="d-flex align-items-center">
          <p-button icon="pi pi-search" severity="secondary" rounded class="me-2 no-click" />
          <p-button icon="pi pi-download" severity="secondary" rounded class="me-2 no-click" />
          <span>Visualiser et télécharger le formulaire</span>
        </div>
      </div>

      <div class="flex">
        <p-iconfield>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, dt1)"
            placeholder="Rechercher..."
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th class="text-center">Matricule</th>
        <th class="text-center">Personne</th>
        <th class="text-center equal-width-column">Entretiens pro</th>
        <th class="text-center equal-width-column">Entretiens formation</th>
        <th class="text-center">Fiche de poste</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td class="text-center">{{ item.id }}</td>
        <td class="text-center text-nowrap">
          {{ item.personne?.nom }} {{ item.personne?.prenom }}
        </td>

        <td class="text-center">
          <ng-container *ngIf="item.entretienPro[0]?.statut; else noProStatut">
            <p-panel [toggleable]="true" [collapsed]="true">
              <ng-template #header>
                <app-admin-liste-entretiens-header [entretien]="item.entretienPro[0]" />
              </ng-template>
              <p class="m-0">
                <app-admin-liste-entretiens-content [entretiens]="item.entretienPro" />
              </p>
            </p-panel>
          </ng-container>

          <ng-template #noProStatut></ng-template>
        </td>

        <td class="text-center">
          <ng-container *ngIf="item.entretienForm[0]?.statut; else noStatut">
            <p-panel [toggleable]="true" [collapsed]="true">
              <ng-template #header>
                <app-admin-liste-entretiens-header [entretien]="item.entretienForm[0]" />
              </ng-template>
              <p class="m-0">
                <app-admin-liste-entretiens-content [entretiens]="item.entretienForm" />
              </p>
            </p-panel>
          </ng-container>

          <ng-template #noStatut></ng-template>
        </td>

        <td class="text-center">
          <ng-container *ngIf="item.fichePoste; else noFichePoste">
            <div class="d-flex justify-content-center align-items-center">
              <p-buttongroup>
                <p-button
                  icon="pi pi-search"
                  (click)="viewFicheDePostePDF(item.fichePoste.id)"
                  severity="secondary"
                  pTooltip="Voir le PDF"
                  tooltipPosition="left"
                  rounded
                />

                <p-button
                  icon="pi pi-download"
                  (click)="getFicheDePostePDF(item.fichePoste.id)"
                  severity="secondary"
                  pTooltip="Télécharger le PDF"
                  tooltipPosition="left"
                  rounded
                />
              </p-buttongroup>
            </div>
          </ng-container>
          <ng-template #noFichePoste>
            <p-button
              class="ms-3"
              icon="pi pi-plus"
              (click)="ajouterPoste(item.personne.id)"
              pTooltip="Ajouter une fiche de poste"
              tooltipPosition="left"
              rounded
              raised
            />
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [header]="'Entretien'"
    [(visible)]="visibleDetailPdf"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '75vw', 'max-width': '90vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
    (onShow)="onActivatePdfTab()"
    (onHide)="onDialogHide()"
  >
    @if (showViewer) {
      <ngx-extended-pdf-viewer
        [src]="src"
        [height]="'auto'"
        [textLayer]="true"
        [showHandToolButton]="true"
        [filenameForDownload]="filename"
      >
      </ngx-extended-pdf-viewer>
    }
  </p-dialog>

  <p-dialog
    #dialogFormPoste
    [(visible)]="visibleDialogForm"
    [modal]="true"
    [style]="{ width: '80%' }"
    (onHide)="onDialogHide()"
  >
    <ng-template #header>
      <ng-container *ngIf="ficheSelectionnee">
        <p-toolbar class="toolbar-fixe" [style]="{ width: '100%' }">
          <ng-template #start></ng-template>
          <ng-template #center></ng-template>
          <ng-template #end>
            <button
              pButton
              type="button"
              label="Annuler"
              class="p-button-danger"
              (click)="annulerAjoutPoste()"
            ></button>
            <button pButton type="button" (click)="buttonSubmit()">Enregistrer</button>
          </ng-template>
        </p-toolbar>
      </ng-container>
    </ng-template>

    <ng-container *ngIf="ficheSelectionnee">
      <div class="content-scroll flex-grow-1 d-flex flex-column">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <h2>Fiche de poste</h2>
          <br /><br />

          <input type="hidden" name="id" [(ngModel)]="ficheSelectionnee.id" />

          <table>
            <tr>
              <th class="minimal withTitre" colspan="1">Fonctions :</th>
              <td colspan="3">
                <input pInputText name="fonction" [(ngModel)]="ficheSelectionnee.fonction" fluid />
              </td>
            </tr>
            <tr>
              <th class="minimal withTitre" colspan="1">Métier ou emploi type<sup>*</sup> :</th>
              <td colspan="3">
                <input
                  pInputText
                  name="emploiType"
                  [(ngModel)]="ficheSelectionnee.emploiType"
                  fluid
                />
              </td>
            </tr>
            <tr>
              <th colspan="4" class="titre">Fiche descriptive du poste</th>
            </tr>
            <tr>
              <th class="minimal withTitre" colspan="1">Catégorie :</th>
              <td colspan="3">
                <input
                  pInputText
                  name="fdpCategorie"
                  [(ngModel)]="ficheSelectionnee.fdpCategorie"
                  fluid
                />
              </td>
            </tr>
            <tr>
              <th class="minimal withTitre" colspan="1">Corps :</th>
              <td colspan="3">
                <input pInputText name="fdpCorps" [(ngModel)]="ficheSelectionnee.fdpCorps" fluid />
              </td>
            </tr>
            <tr>
              <th colspan="4" class="titre">Affectation</th>
            </tr>
            <tr>
              <th class="minimal withTitre" colspan="2">Administrative :</th>
              <td colspan="2">
                <input
                  pInputText
                  name="affectationAdministrative"
                  [(ngModel)]="ficheSelectionnee.affectationAdministrative"
                  fluid
                />
              </td>
            </tr>
            <tr>
              <th class="minimal withTitre" colspan="2">Géographique :</th>
              <td colspan="2">
                <input
                  pInputText
                  name="affectationGeographique"
                  [(ngModel)]="ficheSelectionnee.affectationGeographique"
                  fluid
                />
              </td>
            </tr>
            <tr>
              <th colspan="4" class="titre">Missions</th>
            </tr>
            <tr>
              <td class="minimal" colspan="4">
                <p>Activités principales :</p>
                <p>
                  <p-editor
                    #content="ngModel"
                    [(ngModel)]="ficheSelectionnee.missions"
                    name="missions"
                    [style]="{ height: '320px' }"
                    fluid
                  />
                </p>
              </td>
            </tr>
            <tr>
              <td>Encadrement :</td>
              <td style="width: 140px">
                <p-selectbutton
                  [options]="yesNoOptions"
                  name="encadrement"
                  [(ngModel)]="ficheSelectionnee.encadrement"
                  optionLabel="label"
                  optionValue="value"
                  aria-labelledby="basic"
                />
              </td>
              <td class="minimal" style="width: 270px">Nb agents encadrés par catégorie :</td>
              <td>
                <ul class="li-inline">
                  <li>
                    <p-inputnumber
                      inputId="integeronly"
                      size="small"
                      name="cpeCategA"
                      [(ngModel)]="ficheSelectionnee.cpeCategA"
                    />
                    A
                  </li>
                  <li>
                    <p-inputnumber
                      inputId="integeronly"
                      size="small"
                      name="cpeCategB"
                      [(ngModel)]="ficheSelectionnee.cpeCategB"
                    />
                    B
                  </li>
                  <li>
                    <p-inputnumber
                      inputId="integeronly"
                      size="small"
                      name="cpeCategC"
                      [(ngModel)]="ficheSelectionnee.cpeCategC"
                    />
                    C
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Conduite de projet :</td>
              <td style="width: 140px">
                <p-selectbutton
                  [options]="yesNoOptions"
                  name="conduiteProjet"
                  [(ngModel)]="ficheSelectionnee.conduiteProjet"
                  optionLabel="label"
                  optionValue="value"
                  aria-labelledby="basic"
                />
              </td>
              <td colspan="2"></td>
            </tr>

            <tr>
              <th class="titre" colspan="4">Compétences*</th>
            </tr>
            <tr>
              <td class="minimal" colspan="4">
                <p>Connaissance, savoir :</p>
                <p>
                  <p-editor
                    #content="ngModel"
                    [(ngModel)]="ficheSelectionnee.competencesConnaissances"
                    name="competencesConnaissances"
                    [style]="{ height: '320px' }"
                    fluid
                  />
                </p>
              </td>
            </tr>
            <tr>
              <td class="minimal" colspan="4">
                <p>Savoir faire :</p>
                <p>
                  <p-editor
                    #content="ngModel"
                    [(ngModel)]="ficheSelectionnee.competencesSavoirFaire"
                    name="competencesSavoirFaire"
                    [style]="{ height: '320px' }"
                    fluid
                  />
                </p>
              </td>
            </tr>
            <tr>
              <td class="minimal" colspan="4">
                <p>Savoir être :</p>
                <p>
                  <p-editor
                    #content="ngModel"
                    [(ngModel)]="ficheSelectionnee.competencesSavoirEtre"
                    name="competencesSavoirEtre"
                    [style]="{ height: '320px' }"
                    fluid
                  />
                </p>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </ng-container>
  </p-dialog>
</div>
