<p-toast />
<h2>Liste des entretiens</h2>

<div class="content-scroll flex-grow-1 d-flex flex-column">
  <p-table
    #dt1
    showGridlines
    dataKey="id"
    [value]="liste"
    [loading]="loading"
    [scrollable]="true"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
    [globalFilterFields]="['id', 'personne.nom']"
    [style]="{ width: '100%' }"
    scrollHeight="flex"
  >
    <ng-template #caption>
      <div
        class="d-flex flex-wrap align-items-center gap-3 p-3 border rounded bg-light justify-content-center memo-step"
      >
        <div class="d-flex align-items-center">
          <p-button class="me-2 no-click" icon="pi pi-pen-to-square" severity="help" rounded />
          <span><b>Etape 1</b> : Préparation du formulaire</span>
        </div>
        <div class="d-flex align-items-center">
          <p-button icon="pi pi-calendar" severity="secondary" rounded class="me-2 no-click" />
          <span><b>Etape 2</b> : Prise de rendez-vous</span>
        </div>
        <div class="d-flex align-items-center">
          <p-button icon="pi pi-plus" severity="success" rounded class="me-2 no-click" />
          <span><b>Etape 3</b> : Remplir le formulaire avec l'agent</span>
        </div>
        <div class="d-flex align-items-center">
          <p-button icon="pi pi-user-edit" severity="warn" rounded class="me-2 no-click" />
          <span><b>Etape 4</b> : Envoyer pour signer à l'agent</span>
        </div>
        <div class="d-flex align-items-center">
          <p-button icon="pi pi-pencil" severity="secondary" rounded class="me-2 no-click" />
          <span><b>Etape 5</b> : Signatures (Agent puis Chef)</span>
        </div>

        <!-- Barre séparatrice -->
        <div class="separator my-1 w-100"></div>

        <div class="d-flex align-items-center">
          <p-button icon="pi pi-search" severity="secondary" rounded class="me-2 no-click" />
          <p-button icon="pi pi-download" severity="secondary" rounded class="me-2 no-click" />
          <span>Visualiser et télécharger le formulaire</span>
        </div>
      </div>

      <div class="flex">
        <p-iconfield>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, dt1)"
            placeholder="Rechercher..."
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th class="text-center">Matricule</th>
        <th class="text-center">Personne</th>
        <th class="text-center equal-width-column">Entretiens pro</th>
        <th class="text-center equal-width-column">Entretiens formation</th>
        <th class="text-center">Fiche de poste</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td class="text-center">{{ item.id }}</td>
        <td class="text-center text-nowrap">
          {{ item.personne?.nom }} {{ item.personne?.prenom }}
        </td>

        <td class="text-center">
          <ng-container *ngIf="item.entretienPro[0]?.statut; else noProStatut">
            <p-panel [toggleable]="true" [collapsed]="true">
              <ng-template #header>
                <app-admin-liste-entretiens-header
                  [entretien]="item.entretienPro[0]"
                  (getPdf)="handleGetPdf($event)"
                  (viewPdf)="handleViewPdf($event)"
                />
              </ng-template>
              <p class="m-0">
                <app-admin-liste-entretiens-content
                  [entretiens]="item.entretienPro"
                  (getPdf)="handleGetPdf($event)"
                  (viewPdf)="handleViewPdf($event)"
                />
              </p>
            </p-panel>
          </ng-container>

          <ng-template #noProStatut></ng-template>
        </td>

        <td class="text-center">
          <ng-container *ngIf="item.entretienForm[0]?.statut; else noStatut">
            <p-panel [toggleable]="true" [collapsed]="true">
              <ng-template #header>
                <app-admin-liste-entretiens-header
                  [entretien]="item.entretienForm[0]"
                  (getPdf)="handleGetPdf($event)"
                  (viewPdf)="handleViewPdf($event)"
                />
              </ng-template>
              <p class="m-0">
                <app-admin-liste-entretiens-content
                  [entretiens]="item.entretienForm"
                  (getPdf)="handleGetPdf($event)"
                  (viewPdf)="handleViewPdf($event)"
                />
              </p>
            </p-panel>
          </ng-container>

          <ng-template #noStatut></ng-template>
        </td>

        <td>
          <div class="d-flex justify-content-center align-items-center gap-2">
            <ng-container *ngIf="item.fichePoste[0]; else noFichePoste">
              <p-buttongroup>
                <p-button
                  icon="pi pi-search"
                  (click)="viewFicheDePostePDF(item.fichePoste[0].id)"
                  severity="secondary"
                  pTooltip="Voir le PDF"
                  tooltipPosition="left"
                  rounded
                />

                <p-button
                  icon="pi pi-download"
                  (click)="getFicheDePostePDF(item.fichePoste[0].id)"
                  severity="secondary"
                  pTooltip="Télécharger le PDF"
                  tooltipPosition="left"
                  rounded
                />
              </p-buttongroup>
            </ng-container>
            <ng-template #noFichePoste>
              <p-button
                icon="pi pi-plus"
                (click)="ajouterPoste(item.personne.id)"
                pTooltip="Ajouter une fiche de poste"
                tooltipPosition="left"
                rounded
                raised
              />
            </ng-template>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [header]="'Entretien'"
    [(visible)]="visibleDetailPdf"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '75vw', 'max-width': '90vw' }"
    [draggable]="false"
    [resizable]="false"
    [maximizable]="true"
    (onShow)="onActivatePdfTab()"
    (onHide)="onDialogHide()"
  >
    @if (showViewer) {
      <ngx-extended-pdf-viewer
        [src]="src"
        [height]="'auto'"
        [textLayer]="true"
        [showHandToolButton]="true"
        [filenameForDownload]="filename"
      >
      </ngx-extended-pdf-viewer>
    }
  </p-dialog>

  <app-dialog-fiche-poste
    [visible]="visibleDialogForm"
    [ficheSelectionnee]="ficheSelectionnee"
    (submit)="enregistrerFiche($event)"
    (cancel)="annulerAjoutPoste()"
    (hide)="onDialogHide()"
  >
    <!-- Personnalisation des boutons -->
    <ng-container dialog-actions>
      <!-- Ces boutons sont propres à ce composant -->
      <button
        pButton
        type="button"
        label="Annuler"
        class="p-button-danger"
        (click)="annulerAjoutPoste()"
      ></button>

      <button pButton type="button" (click)="enregistrerFiche(ficheSelectionnee)">
        Enregistrer
      </button>
    </ng-container>
  </app-dialog-fiche-poste>
</div>
