.equal-width-column {
  width: 50%;
}

.rowSearchGlobal {
  text-align: right;
}

.memo-step {
  margin-bottom: 1.5rem;

  .separator {
    height: 2px;
    background-color: #ced4da; // ou une autre couleur discrète
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .no-click {
    pointer-events: none;
    opacity: 1; // évite l’effet grisé
  }
}
