<div class="container-fluid py-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mb-2">
      <h1 class="h5">ENTRETIEN DE FORMATION</h1>
    </div>
  </div>

  <form [formGroup]="entretienForm" (ngSubmit)="onSubmit()" novalidate *ngIf="entretienForm">
    <div class="container">
      <div class="row row-cols-sm-auto">
        <div class="input-group">
          <label for="dateEntretien" class="col-sm-4 col-form-label">Date de l'entretien :</label>
          <p-datePicker
            formControlName="dateEntretien"
            [showIcon]="true"
            [dateFormat]="'dd/mm/yy'"
            [showButtonBar]="true"
            appendTo="body"
            [minDate]="minDate"
            [class.ng-invalid.ng-dirty]="
              entretienForm.get('dateEntretien')?.invalid &&
              (entretienForm.get('dateEntretien')?.touched ||
                entretienForm.get('dateEntretien')?.dirty)
            "
          />
        </div>
      </div>
      <br />
      <div class="card">
        <p-stepper [value]="1" [linear]="true">
          <p-step-item [value]="1">
            <p-step>Informations générales</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                  <app-entretien-form-step1 />
                </div>
                <div class="py-6">
                  <p-button
                    label="SUIVANT"
                    (onClick)="activateCallback(2)"
                    [disabled]="validStep1()"
                  />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="2">
            <p-step>1 - DESCRIPTION DU POSTE OCCUPE PAR L'AGENT</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step2 />
                </div>
                <div class="flex py-6 gap-2">
                  <p-button label="RETOUR" severity="secondary" (onClick)="activateCallback(1)" />
                  <p-button
                    label="SUIVANT"
                    (onClick)="handleStep2Next(activateCallback)"
                    [disabled]="validStep2()"
                  />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="3">
            <p-step>2 - BILAN DES FORMATIONS ET BESOINS DE FORMATION</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step3 />
                </div>
                <div class="py-6">
                  <p-button label="RETOUR" severity="secondary" (onClick)="activateCallback(2)" />
                  <p-button
                    label="SUIVANT"
                    (onClick)="handleStep3Next(activateCallback)"
                    [disabled]="validStep3()"
                  />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="4">
            <p-step>3. FORMATIONS DEMANDEES SUR LA PERIODE ECOULEE ET NON SUIVIES</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step4 />
                </div>
                <div class="py-6">
                  <p-button label="RETOUR" severity="secondary" (onClick)="activateCallback(3)" />
                  <p-button
                    label="SUIVANT"
                    (onClick)="activateCallback(5)"
                    [disabled]="validStep4()"
                  />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="5">
            <p-step>FORMATIONS DEMANDEES POUR LA NOUVELLE PERIODE</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step5 />
                </div>
                <div class="py-6">
                  <p-button label="RETOUR" severity="secondary" (onClick)="activateCallback(4)" />
                  <p-button
                    label="SUIVANT"
                    (onClick)="activateCallback(6)"
                    [disabled]="validStep5()"
                  />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="6">
            <p-step>5 - FORMATION DE PREPARATION A UN CONCOURS OU EXAMEN PROFESSIONNEL</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step6 />
                </div>
                <div class="py-6">
                  <p-button label="RETOUR" severity="secondary" (onClick)="activateCallback(5)" />
                  <p-button
                    label="SUIVANT"
                    (onClick)="activateCallback(7)"
                    [disabled]="validStep6()"
                  />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="7">
            <p-step
              >6 - FORMATIONS POUR CONSTRUIRE UN PROJET PERSONNEL A CARACTERE PROFESSIONNEL</p-step
            >
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step7 />
                </div>
                <div class="py-6">
                  <p-button label="RETOUR" severity="secondary" (onClick)="activateCallback(6)" />
                  <p-button [label]="boutonLabelSubmit" severity="success" type="submit" />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>
        </p-stepper>
      </div>
    </div>
  </form>
</div>
