<p-toast />
<div class="container-fluid py-5 formPage">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mb-2">
      <h1 class="h5">ENTRETIEN DE FORMATION</h1>
    </div>
  </div>

  <form [formGroup]="entretienForm" (ngSubmit)="onSubmit()" novalidate *ngIf="entretienForm">
    <div class="container">
      <div class="row row-cols-sm-auto">
        <div class="input-group">
          <label for="dateEntretien" class="col-sm-4 col-form-label">Date de l'entretien :</label>
          <p-datePicker
            formControlName="dateEntretien"
            [showIcon]="true"
            [dateFormat]="'dd/mm/yy'"
            [showButtonBar]="true"
            appendTo="body"
            [minDate]="minDate"
            [class.ng-invalid.ng-dirty]="
              entretienForm.get('dateEntretien')?.invalid &&
              (entretienForm.get('dateEntretien')?.touched ||
                entretienForm.get('dateEntretien')?.dirty)
            "
          />
        </div>
      </div>
      <br />
      <div class="card">
        <p-stepper #stepper [value]="currentStepIndex" [linear]="true">
          <p-step-item [value]="1">
            <p-step>Informations générales</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                  <app-entretien-form-step1 />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="2">
            <p-step>1 - DESCRIPTION DU POSTE OCCUPE PAR L'AGENT</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step2 />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="3">
            <p-step>2 - BILAN DES FORMATIONS ET BESOINS DE FORMATION</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step3 />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="4">
            <p-step>3. FORMATIONS DEMANDEES SUR LA PERIODE ECOULEE ET NON SUIVIES</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step4 />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="5">
            <p-step>FORMATIONS DEMANDEES POUR LA NOUVELLE PERIODE</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step5 />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="6">
            <p-step>5 - FORMATION DE PREPARATION A UN CONCOURS OU EXAMEN PROFESSIONNEL</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step6 />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item [value]="7">
            <p-step
              >6 - FORMATIONS POUR CONSTRUIRE UN PROJET PERSONNEL A CARACTERE PROFESSIONNEL</p-step
            >
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <app-entretien-form-step7 />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>
        </p-stepper>
      </div>
    </div>

    <div class="action-bar fixed-bottom bg-white p-3 border-top text-end">
      <p-buttongroup>
        <p-button
          label="Quitter le formulaire"
          icon="pi pi-times"
          size="large"
          severity="contrast"
          (click)="goToAdminForm()"
          [rounded]="true"
          [raised]="true"
        />
        <p-button
          label="Précédent"
          icon="pi pi-arrow-left"
          size="large"
          severity="secondary"
          (click)="goToPreviousStep()"
          [rounded]="true"
          [raised]="true"
          [disabled]="currentStepIndex === 1"
        />
        <p-button
          label="Suivant"
          icon="pi pi-arrow-right"
          size="large"
          severity="primary"
          (click)="goToNextStep()"
          [rounded]="true"
          [raised]="true"
          [disabled]="isLastStep()"
        />
        <p-button
          label="ENREGISTRER"
          icon="pi pi-save"
          size="large"
          severity="danger"
          (click)="onSubmit()"
          [rounded]="true"
          [raised]="true"
        />
      </p-buttongroup>
    </div>
  </form>
</div>
