<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mb-2">
      <h1 class="h5">Entretien de formation</h1>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Informations générales</h5>
    </div>
    <div class="card-body">
      <div class="card-text">
        <div class="row">
          <div class="col">
            <h5 class="text-center">AGENT</h5>
            <hr class="border-bottom border-dark border-2" />

            <p><span class="infos_title">Nom d'usage :</span></p>
            <p><span class="infos_title">Nom de famille :</span></p>
            <p><span class="infos_title">Prénom :</span></p>
            <p><span class="infos_title">Date de naissance :</span></p>
            <p><span class="infos_title">Corps-grade :</span></p>
            <p><span class="infos_title">Echelon :</span></p>
            <p><span class="infos_title">Date de promotion dans l'échelon :</span></p>
          </div>

          <div class="col">
            <h5 class="text-center">SUPERIEUR HIERARCHIQUE DIRECT</h5>
            <hr class="border-bottom border-dark border-2" />

            <p><span class="infos_title">Nom :</span></p>
            <p><span class="infos_title">Prénom :</span></p>
            <p><span class="infos_title">Corps-grade :</span></p>
            <p><span class="infos_title">Intitulé de la fonction :</span></p>
            <p><span class="infos_title">Structure :</span></p>
            <p><span class="infos_title">Adresse / ville :</span></p>
            <p><span class="infos_title">Date de l'entretien prof. :</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br /><br />

  <h2 class="text-uppercase">1 - DESCRIPTION DU POSTE OCCUPE PAR L'AGENT</h2>

  <br />

  <div class="card">
    <div class="card-body">
      <div class="card-text">
        <div class="row"><span class="infos_title">structure :</span></div>
        <div class="row"><span class="infos_title">intitulé du poste :</span></div>
        <div class="row"><span class="infos_title">date d'affectation :</span></div>
        <div class="row"><span class="infos_title">emploi type (cf REME ou REFERENS) :</span></div>
        <div class="row">
          <span class="infos_title">poisitionnement du poste dans la structure :</span>
        </div>
        <div class="row"><span class="infos_title">quotité d'affectation :</span></div>
      </div>
    </div>
  </div>

  <br />

  <h4>Missions du poste :</h4>

  <div class="card">
    <div class="card-header">
      <h5>le cas échéant, fonctions d'encadrement ou de conduite de projet :</h5>
    </div>
    <div class="card-body">
      <div class="card-text">
        <div class="row">L'agent assume-t-il des fonctions de conduite de projet ?</div>
        <div class="row">L'agent assume-t-il des fonctions d'encadrement ?</div>
        <div class="row">
          Si oui, précider le nombre d'agents : ____ et leur répartition par catégorie : _ A - _ B -
          _ C
        </div>
      </div>
    </div>
  </div>

  <br /><br />

  <h2 class="text-uppercase">2 - Evaluation de l'année écoulée</h2>

  <br />
</div>
